<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>绑定帐号 - CarSync - 个人车源发布专家</title>
    <link rel="stylesheet" href="/static/weui.min.css"/>
    <link rel="stylesheet" href="/static/application.css"/>
    <link rel="stylesheet" href=""/>
</head>
<body ontouchstart>
    <div class="container js_container">
        <div class="page">
            <div class="hd">
                <h1 class="page_title">绑定帐号</h1>
                <p class="page_desc">CarSync - 个人车源发布专家</p>
            </div>
            <div class="bd">
                <div class="weui_cells_title">绑定帐号{{ code }}</div>
                <div class="weui_cells weui_cells_form">
                <form action="gpdblog.cn/get_info" method="post">
                    <input type="hidden" name="code" value="{{ code }}"/>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" name="phone" id="phone" placeholder="请输入手机号"/>
                        </div>
                    </div>
{#                    <div class="weui_cell weui_vcode">#}
{#                        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>#}
{#                        <div class="weui_cell_bd weui_cell_primary">#}
{#                            <input class="weui_input" type="text" placeholder="请输入验证码"/>#}
{#                        </div>#}
{#                        <div class="weui_cell_ft weui_vimg_wrp">#}
{#                            <img src="/static/images/vcode.jpg" />#}
{#                        </div>#}
{#                    </div>#}
                <div class="weui_btn_area">
                    <input type="submit" class="weui_btn weui_btn_primary" value="确定" />
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script type=text/javascript>
      $(function() {
        $('#phone').bind('click', function() {
          $.get($SCRIPT_ROOT + '/get_info', {
            a: $('input[name="phone"]').val(),
          }, function(data) {
            alert(1);
          });
          return false;
        });
      });
    </script>
    <!-- zepto.js was cached by wechat app -->
    <script src="https://res.wx.qq.com/open/libs/zepto/1.1.6/zepto.js"></script>
    <script src="/static/application.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</body>
</html>