<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>绑定帐号 - CarSync - 个人车源发布专家</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'weui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'application.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery.fileupload.css') }}" />
</head>
<body class="contouchstart">
    <div class="container js_container">
        <div class="page">
            <div class="hd">
                <h1 class="page_title">发布车辆</h1>
                <p class="page_desc">CarSync - 个人车源发布专家</p>
            </div>
              {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                      {{ message }}
                </div>
              {% endfor %}
            <div class="bd">
                <div class="weui_cells_title">车辆类型</div>
                <div class="weui_cells weui_cells_form">
                    <form action="post_car_information" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="code" value="{{ code }}"/>
                        <div class="weui_cell weui_cell_select weui_select_after">
                            <div class="weui_cell_hd">
                                品牌
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="brand" id="brands">
                                    {% for car in cars %}
                                    <option value="{{ car.brand_id }}" id="brand">{{ car.brand }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_select weui_select_after">
                            <div class="weui_cell_hd">
                                车型
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="car" id="cars">
                                </select>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_select weui_select_after">
                            <div class="weui_cell_hd">
                                车系
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="model" id="models">
                                </select>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_select weui_select_after">
                            <div class="weui_cell_hd">
                                颜色
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="color">
                                    <option value="红">红</option>
                                    <option value="黄">黄</option>
                                    <option value="黑">黑</option>
                                    <option value="白">白</option>
                                    <option value="蓝">蓝</option>
                                    <option value="绿">绿</option>
                                    <option value="灰">灰</option>
                                    <option value="紫">紫</option>
                                    <option value="金">金</option>
                                    <option value="橙">橙</option>
                                    <option value="棕">棕</option>
                                    <option value="青">青</option>
                                    <option value="栗">栗</option>
                                    <option value="米">米</option>
                                    <option value="银">银</option>
                                    <option value="褐">褐</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="weui_cells_title">首次上牌时间</div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label">时间</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="date" name="first_license_time" value="" />
                            </div>
                        </div>
                        <div class="weui_cells_title">是否定期4S店保养</div>
                        <div class="weui_cells weui_cells_radio">
                            <label class="weui_cell weui_check_label" for="x28">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>是</p>
                                </div>
                                <div class="weui_cell_ft">
                                    <input type="radio" class="weui_check" name="maintenance" value="1" id="x28">
                                    <span class="weui_icon_checked"></span>
                                </div>
                            </label>
                            <label class="weui_cell weui_check_label" for="x29">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>否</p>
                                </div>
                                <div class="weui_cell_ft">
                                    <input type="radio" name="maintenance" class="weui_check" value="2" id="x29" checked="checked">
                                    <span class="weui_icon_checked"></span>
                                </div>
                            </label>
                        </div>
                        <div class="weui_cells_title">有无重大事故</div>
                        <div class="weui_cells weui_cells_radio">
                            <label class="weui_cell weui_check_label" for="x30">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>是</p>
                                </div>
                                <div class="weui_cell_ft">
                                    <input type="radio" class="weui_check" name="accident" value="1" id="x30">
                                    <span class="weui_icon_checked"></span>
                                </div>
                            </label>
                            <label class="weui_cell weui_check_label" for="x31">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>否</p>
                                </div>
                                <div class="weui_cell_ft">
                                    <input type="radio" name="accident" class="weui_check" value="2" id="x31" checked="checked">
                                    <span class="weui_icon_checked"></span>
                                </div>
                            </label>
                        </div>
                        <div class="weui_cells_title">年检到期</div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label">时间</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="date" name="inspection" value="">
                            </div>
                        </div>
                        <div class="weui_cells_title">交强险到期</div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label">时间</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="date" name="compulsory_insurance" value="" />
                            </div>
                        </div>
                        <div class="weui_cells_title">商业险到期</div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label">时间</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="date" name="commercial_insurance" value="" />
                            </div>
                        </div>
                        <div class="weui_cells_title">上传图片</div>
                         <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">拍照</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input id="fileupload" type="file" name="file" multiple>
                            </div>
                            <div id="uploadedfiles"></div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">行驶里程</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" name="mileage" placeholder="请填写里程">
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">转让价格</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" name="price" placeholder="请填写价格">
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">标题</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" name="title" placeholder="请填写标题">
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">描述</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" name="description" placeholder="一句话广告">
                            </div>
                        </div>
                        <div class="weui_cells_title">补充说明</div>
                        <div class="weui_cells weui_cells_form">
                        <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <textarea class="weui_textarea" name="information" placeholder="请输入补充说明"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">联系人</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" name="contacts" placeholder="请填写联系人">
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" name="contact_number" placeholder="请填写联系电话">
                            </div>
                        </div>
                        {% if exitis %}
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label class="weui_label">账号绑定</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" type="text" name="phone" placeholder="请填写联系电话">
                                </div>
                            </div>
                        {% endif %}
                        <!-- TODO 注意处理html之间的缩进 -->
                        <div class="weui_btn_area">
                            <input type="submit" class="weui_btn weui_btn_primary" value="确定" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>
    <script>
        $(function(){
            $("#brands").blur(function(){
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                brand = $("#brand").val();
                $.post('/get_car', {brand: brand}, function(data){
                    for(i=0;i<data.json_list.length;i++){
                        $("#cars").append("<option value='" + data.json_list[i].car_id + "'>" + data.json_list[i].car + "</option>");
                    }
                });
            });

            $("#cars").blur(function(){
                model = $("#cars").val();
                $.post('/get_model', {model: model}, function(data){
                    for(i=0;i<data.json_list.length;i++){
                        $("#models").append("<option value='" + data.json_list[i].model_id + "'>" + data.json_list[i].model + "</option>");
                    }
                });
            });
        });
    </script>

    <script src="//res.wx.qq.com/open/libs/zepto/1.1.6/zepto.js"></script>
    <script src="{{ url_for('static', filename = 'application.js') }}"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{{ url_for('static', filename = 'js/vendor/jquery.ui.widget.js') }}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{ url_for('static', filename = 'js/load-image.all.min.js') }}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{ url_for('static', filename = 'js/canvas-to-blob.min.js') }}"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ url_for('static', filename = 'js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ url_for('static', filename = 'js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{ url_for('static', filename = 'js/jquery.fileupload-process.js') }}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{ url_for('static', filename = 'js/jquery.fileupload-image.js') }} "></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{{ url_for('static', filename = 'js/jquery.fileupload-audio.js') }}"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{{ url_for('static', filename = 'js/jquery.fileupload-video.js') }}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{ url_for('static', filename = 'js/jquery.fileupload-validate.js') }}"></script>
    <script>
        $(function(){
          $('#fileupload').fileupload({
{#            url: 'post_car_image',#}
            dataType: 'json',
            add: function (e, data) {
                data.context = $('<p/>').text('Uploading...').appendTo(document.body);
                data.submit();
            },
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    console.log(file);
                    $('#uploadedfiles').append("<input type='hidden' name='imgUrl[]' value='" + file.url + "' />" + "<img src='" + file.url + "' style='width:50px;height:50px' />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                });
            }
          });
        });
    </script>

</body>
</html>